<!DOCTYPE html>
<html lang="en-US">
<head>
    <script src="./angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body ng-app="Movies" ng-controller="MoviesController">
<div class="container">

      
        <div class="row mt-5">
                <div class="col-md-3"></div>
                <div class="col-md-6 card p-5">
                    <h3><b><center>CRUD Application</center></b></h3>
                    <form method="POST" ng-submit="addtoDatabase()">
                        <p><label ><b>Film Id:</b></label> <input type="text" name="filmid" class="form-control" ng-model="filmid" /></p>
                        <p><label ><b>Film Name:</b></label> <input type="text" class="form-control" name="filmname" ng-model="filmname" /></p>
                        <p><label ><b>Genre:</label> <input type="text" name="genre" class="form-control" ng-model="genre" /></p>
                        <p><label ><b>Studio:</label> <input type="text" name="studio" class="form-control" ng-model="studio" /></p>
                        <p><label ><b>Director:</label> <input type="text" name="director" class="form-control" ng-model="director" /></p>
                        <p><label ><b>Producer:</label> <input type="text" name="producer" class="form-control" ng-model="producer" /></p>
                        <p><label ><b>LeadActor:</label> <input type="text" name="leadactor" class="form-control" ng-model="leadactor" /></p>
                        <br>
                        <p><center><input type="submit" style="margin-right:10px;" value="Create" class="btn btn-success"/>
                            <input type="button" style="margin-right:10px;" value="Retrive" class="btn btn-info"  ng-click="retriveData()"/>
                            <input type="button" style="margin-right:10px;" value="Update" class="btn btn-warning " ng-click="UpdateData()"/>
                            <input type="button" style="margin-right:10px;" value="Delete" class="btn btn-danger" ng-click="DeleteData(film)"/>
                        </center></p> 
                    </form>
                </div>
                <div class="col-md-3"></div>
        </div>



        <div class="m-5">
                <h4>List of Data:</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Film Id</th>
                            <th>Film Name</th>
                            <th>Genre</th>
                            <th>Studio</th>
                            <th>Director</th>
                            <th>Producer</th>
                            <th>LeadActor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="film in filmList">
                            <td ng-bind="film.filmid"></td>
                            <td ng-bind="film.filmname"></td>
                            <td ng-bind="film.genre"></td>
                            <td ng-bind="film.studio"></td>
                            <td ng-bind="film.director"></td>
                            <td ng-bind="film.producer"></td>
                            <td ng-bind="film.leadactor"></td>
                           <!-- <td><input type="button" value="Delete" ng-click="DeleteData(film)" /></td> -->
                            <td><input type="button" value="Select" ng-click="BindSelectedData(film)" /></td> 
                
                        </tr>
                    </tbody>
                </table>
            </div>
           
           
          <script>
                var app = angular.module("Movies", []);

                app.controller("MoviesController", function($scope,$http) {

                    $scope.filmList = [];


                    $scope.addtoDatabase = function() {
                        var film = {
                            filmid: $scope.filmid,
                            filmname: $scope.filmname,
                            genre: $scope.genre,
                            studio: $scope.studio,
                            director: $scope.director,
                            producer: $scope.producer,
                            leadactor: $scope.leadactor
                        };
        
                        $scope.filmList.push(film);
                        
                        $http.post("create.php", {
                                'filmid': $scope.filmid,
                                'filmname': $scope.filmname,
                                'genre': $scope.genre,
                                'studio': $scope.studio,
                                'director': $scope.director,
                                'producer': $scope.producer,
                                'leadactor': $scope.leadactor
                            }).then(function(response){
                                    console.log("Data Inserted Successfully");
                                },function(error){
                                    alert("Sorry! Data Couldn't be inserted!");
                                    console.error(error);

                                });

                        clear();
                    }


                    $scope.retriveData = function () 
                   {  
                    $http({
                            method: 'get',
                            url: 'retrivedata.php'
                            }).then(function successCallback(response) {
                          
                            $scope.filmList = response.data;
                            console.log("Data retrived Successfully");
                            },function(error){
                                    alert("Sorry! Data Couldn't be retrived");
                                    console.error(error);

                        });
                            

                   } 





                   $scope.DeleteData = function (film) 
                   {  
                            var _index = $scope.filmList.indexOf(film);  
                            $scope.filmList.splice(_index, 1);  
                            $http.post('deletedata.php',{'filmid':$scope.filmid}).then(function(data){
                                console.log("deleted data successfully");
                            },function(error){
                                    alert("Sorry! Data Couldn't be deleted");
                                    console.error(error);

                                
                            });
                            clear();

                   } 

                
                  $scope.BindSelectedData = function (film)
                   {  
                           $scope.filmid = film.filmid;
                           $scope.filmname = film.filmname;
                           $scope.genre = film.genre;
                           $scope.studio = film.studio;
                           $scope.director = film.director;
                           $scope.producer = film.producer;
                           $scope.leadactor = film.leadactor;
                   }  


     
                   $scope.UpdateData = function () 
                   {  
                          var index=-1;
          

                        for(i=0;i<$scope.filmList.length;i++)
                        {
                            if($scope.filmList[i].filmid==$scope.filmid)
                            {
                                index=i;
                            }
                        }


                        var film={
                            filmid: $scope.filmid,
                            filmname: $scope.filmname,
                            genre: $scope.genre,
                            studio: $scope.studio,
                            director: $scope.director,
                            producer: $scope.producer,
                            leadactor: $scope.leadactor
                            };
                          
                            $scope.filmList[index]=film;

                             
                        $http.post("updatedata.php", {
                                'filmid': $scope.filmid,
                                'filmname': $scope.filmname,
                                'genre': $scope.genre,
                                'studio': $scope.studio,
                                'director': $scope.director,
                                'producer': $scope.producer,
                                'leadactor': $scope.leadactor
                            }).then(function(data){
                                    console.log("Data updated Successfully");
                                },function(error){
                                    alert("Sorry! Data Couldn't be updated!");
                                    console.error(error);

                                });
                        
                                clear();

                    }  

                    function clear()
                    {
                           $scope.filmid = 0;
                           $scope.filmname = " ";
                           $scope.genre = "";
                           $scope.studio = " ";
                           $scope.director = " ";
                           $scope.producer = " ";
                           $scope.leadactor =" ";
                 
                        
                    } 

                   
                });
        
            </script> 


</div>
</body>
</html>